#dashboard{
  @include flexbox;

  .widget{
    @include flex(1);
    margin-left: 15px;

    ul{
      height: 300px;
      overflow: auto;
      border: 1px solid #ccc;
    }
    li{
      height: 80px;
      padding-top: 10px;
      padding-bottom: 90px;
      border-bottom: 1px solid #ccc;
      overflow: hidden;
    }
    .tags{
      max-height: 60px;
      overflow: hidden;
    }
    .tags, .created-time, .detail-text{
      margin-left: 90px;
    }
    .created-time{
      font-weight: bold;
    }
    img{
      float: left;
      height: 80px;
    }
  }
  .liked-media{

  }
}