@mixin background-image($url) {
  background-image: url('images/' + $url);
}
@mixin square($size) {
  width: $size;
  height: $size;
}
@mixin keyframe ($animation_name) {
  @-webkit-keyframes $animation_name {
    @content;
  }

  @-moz-keyframes $animation_name {
    @content;
  }

  @-o-keyframes $animation_name {
    @content;
  }

  @keyframes $animation_name {
    @content;
  }
}