<div class="login-wrapper">
  <img src="images/app-logo.png" alt="logo" class="logo">
  <div>
    HANNAH
  </div>
  <div class="ig-logo-wrapper">
    <img src="images/instagram-logo.png" alt="logo" class="ig-logo"> Loggin with Instagram
  </div>
</div>