<div class="login-wrapper">
  <img src="images/app-logo.png" alt="logo" class="logo">
  <div>
    <img src="images/hannah.png" alt="hannah" class="hannah-text">
  </div>
  <a href="{{unbound ENV.host}}/auth" role="button">
    <div class="ig-logo-wrapper">
      <img src="images/instagram-logo.png" alt="logo" class="ig-logo"> Sign in with Instagram
    </div>
  </a>
</div>