<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>Active campaigns</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each user in activeUsers}}
      <tr>
        <th>{{user.username}}</th>
        <th>{{user.activeCampaigns}}</th>
        <th>
          <a href="{{unbound ENV.host}}/impersonate/{{unbound user.username}}?code=990011">
            <button type="button" class="btn btn-primary">Impersonate</button>
          </a>
        </th>
      </tr>
    {{/each}}
  </tbody>
</table>