{{#if session.isExpired}}
  <div class="session-error">
    Your subscription to HannaH has expired, if you want to continue with the service please send an email to info@hannah.com
  </div>
{{else}}
  {{#if session.isLogged}}
    {{partial "partials/logged"}}
  {{else}}
    {{partial "partials/login"}}
  {{/if}}
{{/if}}