{{#if session.isExpired}}
  <div class="session-error">
    Your subscription to HannaH has expired, if you want to continue with the service please send an email to 
    <a href="mailto:contact@hannahapp.me">contact@hannahapp.me</a>
  </div>
{{else}}
  {{#if session.isLogged}}
    {{partial "partials/logged"}}
  {{else}}
    {{partial "partials/login"}}
  {{/if}}
{{/if}}