{{#unless firstObject.id}}
  <h2>No active campaigns</h2>
{{/unless}}
<div class="input-group input-group-lg">
  <span class="input-group-addon" id="basic-addon1">#</span>
  {{input class="form-control" placeholder="Hashtag..." value=campaign.target autofocus="true"}}
  <span class="input-group-btn">
    <button class="save-button btn btn-default" {{bind-attr disabled="cantSaveCampaign"}} {{action "saveCampaign"}}>Save</button>
  </span>
</div>