<button {{action "createCampaign"}}>Create campaign</button>

<div class="campaigns">
  {{#each campaign in this}}
    {{partial "partials/campaign"}}
  {{/each}}
</div>

{{!-- <button id="perform-action" type="button" class="btn btn-primary btn-lg btn-block" {{action "createCampaign"}}>
  Perform action
</button> --}}