<div class="widget latest-photos">
  <header>Latest liked photos</header>
  <ul class="liked-media">
    {{#each media in likedMedia}}
      <li>
        <img {{bind-attr src="media.bigPicture"}}>
        <div class="tags detail-text">
          {{#each tag in media.tags}}
            {{tag}}
          {{/each}}
        </div>
      </li>
    {{/each}}
  </ul>
</div>