<div class="campaigns">
  <table>
    <caption>
      Active campaign ({{activeCampaigns.length}}) | Available likes ({{availableLikes}})
      <span class="glyphicon glyphicon-plus create-campaign active" {{action "createCampaign"}}></span>
    </caption>
    <thead>
      <tr>
        <th>Action</th>
        <th>Target</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each campaign in this}}
        {{partial "partials/campaign"}}
      {{/each}}
    </tbody>
  </table>
</div>