<div class="jumbotron">
  <h1>Welcome to Media-gram</h1>
  <p>Mediagram is a marketing software that helps companies to attract visitors, convert leads in close customers, and search for target users in Instagram.
    Traditional marketing is death.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="//localhost:3000/auth" role="button">Log in with Instagram</a>
  </p>
</div>