<div class="jumbotron">
  <h1>Welcome to Media-gram</h1>
  <p>Mediagram is a marketing software that helps companies to attract visitors, convert leads in close customers, and search for target users in Instagram.
    Traditional marketing is death.</p>
  <a class="btn btn-lg btn-primary" href="{{unbound ENV.host}}/auth" role="button">
    <p>Log in with Instagram</p>
  </a>
</div>